@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}
.grupo-icono {
  /* border: solid red; */
  margin-right: 5rem;
}

.menu {
  display: none !important;
}

.menu-responsive {
  display: none;
}

.detail {
  margin: 0.3rem;
}
.navbar {
  display: flex;
  box-shadow: 0 0 2px 0 grey;
  align-items: center;
  font-size: 1em;
  background-color: #3761af;
  color: white;
  justify-content: space-between;
}

.group {
  margin: 0px 2px;
  display: flex;
  align-items: center;
}

.cart-items-count {
  /* display: block; */
  background-color: aliceblue;
  color: #3761af;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 50%;
  position: relative;
  top: -8px;
  right: -2px;
}

.mode {
  cursor: pointer;
  margin-inline: 23px;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.navbar .logo {
  font-size: 1.2em;
  align-items: center;
  display: flex;
}

.logo img {
  max-width: 40px;
  margin: 10px;
}

.material-icons {
  font-size: 1.8rem;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

.nav-contact {
  margin-right: 16px;
}

.cart-box {
  margin: 24px;
  padding: 24px;
  border: 1px solid gray;
  border-radius: 10px;
}

.cart-box .cart-item:nth-child(1) {
  border-top: thin solid gray;
}

.cart-box ul {
  padding-inline-start: 0;
}

@media (max-width: 700px) {
  .menu {
    display: flex !important;
    cursor: pointer;
  }

  .menu-responsive {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3761af;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .group {
    margin-bottom: 1rem;
  }
  .group.menu {
    font-weight: bold;
  }

  .detail {
    margin-left: 0.8rem;
  }
  .full-screen {
    display: none;
  }
  .item {
    font-size: 13px;
    padding: 0px;
  }

  .material-icons {
    font-size: 20px;
    margin: 4px;
  }
  .cart {
    margin-right: 23px;
  }
}
