nav a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

button:hover {
  cursor: pointer;
  /* background-color: rgba(55, 97, 175, .85); */
  filter: saturate(110%);
  box-shadow: 0px 0px 2px #000;
}